@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: "Roboto";
  scroll-behavior: smooth;
}

input {
  all: unset;
}
li:hover {
  color: rgb(183, 183, 183);
}
